<!DOCTYPE html>
<html>
<head>
	<title>Uptime Ghana</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
</head>
<body>
	<!-- Header -->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="headernav">
					<!-- Logo -->
					<div class="logo">
						<h1><a href="/">
							<img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
						</a></h1>
					</div>

					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for..." name="search">
					</div>

					<div class="menu-items">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</div>

	<!-- Hero with search -->
	<div class="hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Hero content -->
					<div class="hero-content">
						<h1 class="hero-title">Real-time service outage monitoring</h1>
						<p class="hero-subtitle">We monitor your services and notify you when they go down.</p>
						<!-- Search form -->
						<div class="searchbar">
							<form action="/search" method="post">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for..." name="search">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Check Status</button>
									</span>
								</div>
							</form>
						</div>
						

						<div class="mini-cards">
							{% for name, status in status_dict.items() %}
									<div class="mini-card">
									<div class="company_logo">
										<img src="https://th.bing.com/th/id/OIP.QHy_DhuiJKv14Hv7T_cm7gHaGx?pid=ImgDet&rs=1" alt="Avatar" style="width:100%">
									</div>
									<div class="company_name">
										<h4><b>{{ status.company }}</b></h4>
										<p>{{ status.company }}</p>
									</div>
									</div>
							{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Trending services -->
	<div class="services">
		<div class="container">
			<div class="row">
				{% for name, status in status_dict.items() %}
				<div class="col-md-4" >
					<div class="card service">
						<div class="service-logo">
							<img src="https://th.bing.com/th/id/OIP.QHy_DhuiJKv14Hv7T_cm7gHaGx?pid=ImgDet&rs=1" alt="Avatar" style="width:100%">
						</div>
						
						<div>
							<h4><b>Uptime</b></h4>
							<p>Online</p>
							<!-- simple line chart -->
							<canvas id="myChart"></canvas>

						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


<!-- charts js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
		datasets: [{
			label: '# of',
			data: [12, 19, 3, 5, 2, 3],
			backgroundColor: [
				'rgba(255, 99, 132, 0.2)',
				'rgba(54, 162, 235, 0.2)',
				'rgba(255, 206, 86, 0.2)',
				'rgba(75, 192, 192, 0.2)',
				'rgba(153, 102, 255, 0.2)',
				'rgba(255, 159, 64, 0.2)'
			],
			borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
				'rgba(255, 159, 64, 1)'
			],
			borderWidth: 1
		}]
	},
	options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero:true
				}
			}]
		}
	}
});
</script>


</body>
</html>
